# Variables d'environnement
.env
.env.local

# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
python/
pip-selfcheck.json
esssai.py

# Fichiers de build
*.egg-info/
dist/
build/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Sessions locales
session.*

# Gunicorn
*.pid
#html
note.txt
file.html
instance/
create_quiz_flashcard.py
flashcard_histoire.json
quiz_mathematique.json