<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Page non trouvée</h1>
    <p>pour l'instant il n'y que des ressources pour html et css et systeme</p>
    <p>click <a href="{{url_for('communaute')}}"> ici</a> pour accéder a la page de la communaute pour plus de ressources</p>
    <a href="{{url_for('home')}}">Retour a la page d'accueil</a>
</body>
</html>